<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head.njk" %}
    <link href="/tailwind.css" rel="stylesheet"/>
    <script src="/js/theme.js"></script>
  </head>
  <body class="max-w-screen-lg px-4 mx-auto bg-primary text-primary">
    {% include "partials/header.njk" %}
    {% include "partials/main.njk" %}
    {% include "partials/footer.njk" %}
  </body>
</html>