---
layout: default
title: Blog
stylesheets:
  - https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css
---
<article class="prose dark:prose-light">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>