---
layout: default
title: Blog
scripts:
  - /js/post.js
---
<link rel="stylesheet" href="" id="prism">
<article class="prose dark:prose-light max-w-none">
  <div class="divide-solid divide-y-2">
    <div>
      <h1>{{ title }}</h1>
    </div>
    <div class="p-2 flex flex-row justify-between gap-2">
      <div class="flex-shrink-0">
        <span class="text-xs font-bold px-1 py-0.5 font-mono bg-terniary border border-dotted rounded-md border-primary">{{ date | dateFormat }}</span>
      </div>
      <div class="text-right">
        {% for tag in tagz %}
          <span class="text-xs px-1 py-0.5 font-mono bg-terniary border border-dotted rounded-md border-primary">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
    <div>
      {{ content | safe }}
    </div>
  </div>
  <div id="comments"></div>
  <script>setupPost()</script>
  <noscript>JavaScript is required to show comments.</noscript>
</article>