---
title: soapify
description: An simple commandline application that you can search on your all spotify playlists.
urls: 
  - title: github
    url: https://github.com/gokberkakdeniz/soapify
tagz:
  - cli
  - python
---