---
title: tureng
description: An unofficial tureng.com javascript library and commandline application. 
urls: 
  - title: github
    url: https://github.com/gokberkakdeniz/tureng
tagz:
  - cli
  - library
  - javascript
---
