---
title: akdeniz.dev
description: My personal web page.
urls: 
  - title: home page
    url: https://akdeniz.dev
  - title: github
    url: https://github.com/gokberkakdeniz/akdeniz.dev
tagz:
  - nunjucks
  - eleventy
  - tailwindcss
---