---
title: irl.iyte.edu.tr
description: The website of IZTECH RoboLeague'20 that is built using React.js and Bootstrap.
urls: 
  - title: homepage
    url: https://irl.akdeniz.dev/
  - title: github
    url: https://github.com/gokberkakdeniz/irl.iyte.edu.tr
tagz:
  - react
  - bootstrap
---