---
layout: default
title: About
---
<div class="flex flex-col space-y-2 prose dark:prose-light max-w-none">
  <div>
    <h1 class="text-center font-heading font-bold text-lg">I'm Gökberk Akdeniz.</h1>
    <img src="/images/me.jpg" alt="my picture" class="rounded-full border-4 border-solid border-accent mx-auto mt-4"/>
  </div>
  <div>
    <h1>Lorem Title!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Dolorem sunt obcaecati dolore veritatis ipsa, praesentium id! 
      Porro deserunt, atque reiciendis voluptatibus 
      tempora maiores consectetur velit accusantium odit 
      excepturi veniam repellat!
    </p>
  </div>
</div>