---js
{
  layout: "default",
  title: "Blog",
  description: "The blog of Gökberk Akdeniz",
  keywords: "blog, software engineer, izmir, computer engineer, programming",
  pagination: {
    data: "collections.post",
    size: "10",
    alias: "posts",
    before: (array) => array.filter(item => !item.data.hidden).reverse()
  }
}
---
{% from "macros/post.njk" import PostListItem, PostListNavigation %}
<div>
  <ul>
    {% for post in posts %}
      {{ PostListItem(title=post.data.title, description=post.data.description, date=post.data.date, url=post.url) }}
    {% endfor %}
  </ul>
  {{ PostListNavigation(pagination) }}
</div>