---
layout: default
title: Generative Art
description: The generative art showcase of Gökberk Akdeniz
keywords: generative art, programming, animation, p5js
pagination:
  data: collections.generative
  reverse: true
  size: 2
  alias: generatives
---
{% from "macros/post.njk" import PostListItem, PostListNavigation %}
<div>
  <ul>
    {% for generative in generatives %}
      {{ PostListItem(title=generative.data.title, description=generative.data.description, date=generative.data.date, url=generative.url) }}
    {% endfor %}
  </ul>
  {{ PostListNavigation(pagination) }}
</div>