---
layout: default
title: Home
keywords: "gökberk akdeniz, software engineer, computer engineer, izmir, turkey, javascript, typescript, linux, fedora, nodejs"
description: "Personal website of Gökberk Akdeniz who is a Software Engineer in İzmir"
navbar: true
---
{% from "macros/post.njk" import PostListItem %}
{% include "partials/me.njk" %}
<div class="p-2">
  <ul>
    {% for post in collections.post | rejectmattr("data", "hidden") | reverse | slice(5) %}
      {{ PostListItem(title=post.data.title, description=post.data.description, date=post.data.date, url=post.url) }}
    {% endfor %}
  </ul>
  <div class="text-center mt-4 font-bold">
    <a href="/blog" class="px-2 py-1 hover:text-accent">
      &lt;show all&gt;
    </a>
  </div>
</div>