---
layout: default
title: Licenses
icons:
  - names:
    - chevron-down
    - chevron-left
    - chevron-right
    - chevron-up
    - code
    - cube
    - heart
    - home
    - link
    - moon
    - photograph
    - sun
    - user
    website: https://heroicons.com/
    name: heroicons.com
    license: MIT License
  - names:
    - copyright
    website: https://material.io/resources/icons
    name: material.io
    license: Apache-2.0 License 
  - names:
    - github
    - gitlab
    - linkedin
    - stackoverflow
    website: https://simpleicons.org/
    name: simpleicons.org
    license: CC0-1.0 License
techs:
  - name: Eleventy
    url: https://www.11ty.dev/
  - name: Nunjucks
    url: https://mozilla.github.io/nunjucks/
  - name: Tailwind CSS
    url: https://tailwindcss.com/
fonts:
  - name: Inter
    url: https://github.com/rsms/inter/
    license: OFL-1.1 License
  - name: Zilla Slab
    url: https://github.com/mozilla/zilla-slab
    license: OFL-1.1 License
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
  <div class="grid grid-cols-1 gap-4">
    <div>
      <p>
        The blog posts are licensed under
        <a href="https://creativecommons.org/licenses/by/4.0/" class="underline">CC BY 4.0</a>.
        <br/>
        The visuals in photography and generative art section are licensed under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="underline">CC BY-NC-SA 4.0</a>.
      </p>
    </div>

    <div>
      <p>
        This website uses
        {% for font in fonts %}
          {%- if loop.first -%}
            <a href="{{ font.url }}" class="underline">{{ font.name }}</a>
            (<i>{{ font.license }}</i>)
          {%- elif loop.last -%}
            {{ "," if loop.length > 2 }} and
            <a href="{{ font.url }}" class="underline">{{ font.name }}</a>
            (<i>{{ font.license }}</i>)
          {%- else -%}
            ,
            <a href="{{ font.url }}" class="underline">{{ font.name }}</a>
            (<i>{{ font.license }}</i>)
          {%- endif -%}
        {% endfor %}
        fonts.
      </p>
    </div>

    <div>
      <p>
        This website is built using
        {% for tech in techs %}
          {%- if loop.first -%}
            <a href="{{ tech.url }}" class="underline">{{ tech.name }}</a>
          {%- elif loop.last -%}
            <span>, and</span>
            <a href="{{ tech.url }}" class="underline">{{ tech.name }}</a>
          {%- else -%}
            <span>,</span>
            <a href="{{ tech.url }}" class="underline">{{ tech.name }}</a>
          {%- endif -%}
        {% endfor %}
        and published with
        <a href="https://vercel.com/" class="underline">Vercel</a>.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4">
    {% for icon in icons %}
      <div>
        <p>
          The following {{ "icon is" if icon.names.length == 1 else "icons are" }}
          distributed with <i>{{ icon.license }}</i> by
          <a href="{{ icon.website }}" class="underline">{{ icon.name }}</a>:
        </p>
        <ul class="max-h-24 p-2 bg-secondary rounded-md overflow-scroll list-disc list-inside">
          {% for name in icon.names -%}
            <li class="font-mono">{{ name }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>