---
layout: default
title: Photography
photos:
  - src: /images/photography/P_20220726_154845.jpg
    width: 1
    title: "Church of Taxiarchis in Mesta, Chios Island, Greece"
  - src: /images/photography/P_20220726_154407.jpg
    width: 1
    title: "Church of Taxiarchis in Mesta, Chios Island, Greece"
  - src: /images/photography/P_20220726_155216.jpg
    width: 1
    title: "Church of Taxiarchis in Mesta, Chios Island, Greece"
  - src: /images/photography/P_20220726_125932.jpg
    width: 1
    title: "Church of the Assumption of the Virgin in Pyrgi, Chios Island, Greece"
  - src: /images/photography/P_20220726_152716.jpg
    width: 1
    title: "Limenas, Chios, Greece"
  - src: /images/photography/P_20220726_125225.jpg
    width: 1
    title: "Armolia, Chios, Greece"
  - src: /images/photography/P_20220726_161535.jpg
    width: 1
    title: "Mesta, Chios, Greece"
  - src: /images/photography/P_20220726_161717.jpg
    width: 1
    title: "Mesta, Chios, Greece"
  - src: /images/photography/P_20220726_161640.jpg
    width: 1
    title: "Mesta, Chios, Greece"
  - src: /images/photography/P_20210528_091139.jpg
    width: 1
    title: "A boat and horizon line in Gülbahçe Bay"
    url: https://unsplash.com/photos/uD_sA0LRBI0
  - src: /images/photography/P_20200723_151654_SRES.jpg
    width: 2
    title: An ancient Roman building near Balıklıova
  - src: /images/photography/P_20201223_094932.jpg
    width: 1
    title: A water droplet and wave
    url: https://unsplash.com/photos/nm4Nw-PEMyI
  - src: /images/photography/P_20201015_115354.jpg
    width: 1
    title: "A boat in Tatar River"
    url: https://unsplash.com/photos/AdKTSSQEPKY
  - src: /images/photography/P_20200930_082520.jpg
    width: 1
    title: "Sea beans in near Gülbahçe Port"
    url: https://unsplash.com/photos/gD7Emwyym4g
  - src: /images/photography/P_20200930_084823_SRES.jpg
    width: 2
    title: "Wave refraction in Gülbahçe Bay"
    url: https://unsplash.com/photos/nH36D06MPik
  - src: /images/photography/P_20201223_094612.jpg
    width: 1
    title: "Hot water stream (probably) where Tatar River and Gulbahce Bay confluxes"
    url: https://unsplash.com/photos/r-qE_hR6YHQ
  - src: /images/photography/P_20210407_083347.jpg
    width: 1
    title: "An abandoned country house in Gülbahçe village"
  - src: /images/photography/P_20210423_115144.jpg
    width: 1
    title: "Colorful flowers in the spring"
---
<div class="mb-4">
  <p>The photos I took with the Asus ZenFone 5Z when I went for a walk.</p>
</div>
<div class="flex flex-wrap -mx-1 overflow-hidden">
  {% for photo in photos %}
    {% set width = "md:w-1/2 lg:w-1/3 xl:w-1/3" %}
    {% set ratio = "aspect-ratio-1/1" %}
    {% if photo.width == 2 %}
      {% set width = "md:w-full lg:w-2/3 xl:w-2/3" %}
      {% set ratio = "aspect-ratio-2/1" %}
    {% elif photo.width == 3 %}
      {% set width = "md:w-full" %}
      {% set ratio = "aspect-ratio-3/1" %}
    {% endif %}

    <div class="my-1 px-1 w-full overflow-hidden {{ width }}">
      {% if photo.url %}
        <a target="_blank" href="{{ photo.url }}">
          <picture title="{{ photo.title }}" class="intrinsic bg-terniary dark:bg-secondary {{ ratio }}">
            <img src="{{ photo.src }}" alt="{{ photo.title }}" class="intrinsic-item object-cover border border-dotted border-accent"/>
          </picture>
        </a>
      {% else %}
        <picture title="{{ photo.title }}" class="intrinsic bg-terniary dark:bg-secondary {{ ratio }}">
          <img src="{{ photo.src }}" alt="{{ photo.title }}" class="intrinsic-item object-cover border border-dotted border-accent"/>
        </picture>
      {% endif %}
    </div>
  {% endfor %}
</div>