---
layout: default
title: Portfolio
---
<div class="flex flex-col space-y-4">
  <div class="mx-auto">
    <img src="/images/me.jpg" alt="my picture" class="rounded-full border-4 border-solid border-accent mx-auto my-4"/>
    <div class="text-center">
      <h1 class="font-heading font-bold text-3xl uppercase" lang="tr">Gökberk Akdeniz</h1>
      <div class="divide-y-2 m-2 text-center">
        <div class="mx-auto" style="width: 300px;"></div>
        <div class="mx-auto" style="width: 300px;"></div>
      </div>
      <div class="mx-auto">Computer engineering student, Software Developer in İzmir</div>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1>About Me</h1>
  </div>
  <div class="flex flex-col lg:flex-row space-x-4">
    <div class="w-full flex flex-col space-y-2">
      <p>
      I'm interested in programming for 8+ years.
      </p>
      <p>
      add cgpa details
      </p>
      <p>
      I have taught C programming language to newcomers within IEEE IZTECH along 4 weeks.
      CoD bünyesinde teknik koordinatör olarak görev aldım. Bunun yanında sponsorla doğrudan görüşüp gerektiğinde sunum yaptım vs.
      </p>
      <p>See my <a href="https://www.linkedin.com/in/gokberkakdeniz/" class="underline">LinkedIn profile</a> for more details.</p>
    </div>
    <div class="w-full flex flex-col space-y-2">
      <h2 class="text-xl font-bold uppercase">Highlights</h2>
      <ul class="list-inside list-disc">
        <li>bölüm başarısı ortalama</li>
        <li>yarışmada ikincilik</li>
      </ul>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1>Projects</h1>
  </div>
  <div class="flex flex-col lg:flex-row space-x-4">
    <div class="w-full flex flex-col space-y-2">
      <h2 class="font-semibold">My personal interests include:</h2>
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
    <div class="w-full flex flex-col space-y-2">
      <h2 class="text-xl font-bold uppercase">Current Job</h2>
      <ul class="list-inside list-disc">
        <li>Built rich administrator panels using TypeScript, ReactJS, and Redux.</li>
        <li>Used AWS and Azure.</li>
        <li>Closely collaborated with backend developer.</li>
        <li>Being part of scrum team of 5 member.</li>
        <li>Mentoring new trainees to clarify their questions and to make them adapted into the team.</li>
        <li>Wrote bash/python scripts to automate creation of large amount geographic data.</li>
      </ul>

      <h2 class="text-xl font-bold uppercase">Outsite Work</h2>
      <ul class="list-inside list-disc">
        <li>
          Ported and maintained 
          <a href="https://addons.mozilla.org/en-US/firefox/addon/tureng-anlik-ceviri/" class="underline">Tureng Anlık Çeviri</a>
          (1200 users and 4.5 star) add-on to Mozilla Firefox from Google Chrome.
        </li>
        <li>
          Developed and maintained an unofficial <a href="https://github.com/gokberkakdeniz/whats-up-darkness" class="underline">WhatsApp desktop client</a> using ElectronJS for a year.
        </li>
        <li>
          Built <a href="https://irl.akdeniz.dev" class="underline">IZTECH RoboLeague'20 website</a> using ReactJS and Bootstrap.
        </li>
        <li>
          Built <a href="https://github.com/gokberkakdeniz/iztechbot" class="underline">IZTECH cafeteria Telegram bot</a> to track daily cafeteria menu.
        </li>
        <li>
          Built this website using Nunjucks template engine, Tailwind CSS, Eleventy static site generator, and plain JavaScript.
        </li>
        <li class="list-none mt-1">
          See <a href="/projects" class="underline">projects</a> page for more details.
        </li>
      </ul>

      <h2 class="text-xl font-bold uppercase">Other Things</h2>
      <ul class="list-inside list-disc">
        <li>Built library management software using VisualBasic.NET and Microsoft Access in high school.</li>
      </ul>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1>Contact Me</h1>
  </div>
  <div class="flex flex-col lg:flex-row space-x-4">
    <div class="w-full flex flex-col space-y-2">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
    <div class="w-full flex flex-col space-y-2">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
  </div>
</div>