---
layout: default
title: Portfolio
description: The portfolio of Gökberk Akdeniz
keywords: portfolio, about, cv, resume, software engineer, izmir, turkey, computer engineer, developer, fullstack, backend, frontend
---
<div class="flex flex-col space-y-4">
  <div class="mx-auto">
    <img src="/images/me.jpg" alt="my picture" class="rounded-full border-4 border-solid border-accent mx-auto my-4"/>
    <div class="text-center">
      <h1 class="font-heading font-bold text-3xl uppercase" lang="tr">Gökberk Akdeniz</h1>
      <div class="divide-y-2 m-2 text-center">
        <div class="mx-auto" style="width: 300px;"></div>
        <div class="mx-auto" style="width: 300px;"></div>
      </div>
      <div class="mx-auto">Computer engineering student, Software Developer in İzmir</div>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1 class="sideline">About Me</h1>
  </div>
  <div class="flex flex-col lg:flex-row space-x-4">
    <div class="w-full flex flex-col space-y-2">
      <p>
        I'm a fourth year computer engineering student at IZTECH. 
        I'm also a Software Developer located in İzmir.
        I work as a Full Stack Developer.
      </p>
      <p>
        I also spend my outside time experimenting with new technologies. 
      </p>
      <p>
        I've taught C programming language to newcomers within IEEE IZTECH for 4 weeks. 
        I prepared
        <a href="https://iztech-comsoc.github.io/" class="font-bold hover:underline">materials</a>
        to make them understand easier.
      </p>
      <p>
        See <a href="https://www.linkedin.com/in/gokberkakdeniz/" class="font-bold hover:underline">my LinkedIn profile</a> for more details.
      </p>
    </div>
    <div class="w-full flex flex-col space-y-2">
      <h2 class="text-xl font-bold uppercase">Highlights</h2>
      <ul class="list-inside list-disc">
        <li>Had a solid theoric background</li>
        <li>Linux and open-source enthusiast</li>
        <li>Curious to understand how and why things work</li>
        <li>
          Awarded second place with my <a href="https://github.com/gokberkakdeniz/hack4art-2019-redesign" class="font-bold hover:underline">teammates</a>
          in <a href="https://www.hack4art.com/" class="font-bold hover:underline">Hack4art</a>
        </li>
        <li>Led the technical team of <a href="http://codeofduty.iyte.edu.tr/" class="font-bold hover:underline">Code of Duty 2020</a>. 
          Prepared questions, contest platforms and made a presentation to companies interested in sponsorship.
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1 class="sideline">Interests</h1>
  </div>
  <div class="flex flex-col lg:flex-row space-x-4">
    <div class="w-full flex flex-col space-y-2">
      <h2 class="font-semibold text-xl">My personal interests include:</h2>

      <p>
        <span class="font-semibold">Software Development</span>
        <br/>
        I'm interested in programming for 8+ years. 
        Since the first day of my meet, I have wanted to be a Software Engineer.
        <br/>
        Frontend and backend software are my main interests.
      </p>

      <p>
        <span class="font-semibold">Programming Languages</span>
        <br/>
        Theory of Computation and Concepts of Programming Languages were my favorite courses. 
        My interest is not limited to programming languages. I also love spoken languages. 
        I love to guess the etymology of a word I don't know and which language it belongs to. 
      </p>

      <p>
        <span class="font-semibold">Exploring</span>
        <br/>
        I've always been into learning new things.
        It can be history, physics, mathematics, computer science, linguistic, or anything.
      </p>

      <p>
        <span class="font-semibold">Photography</span>
        <br/>
        I started to be interested in photography while hiking this year.
        See some <a href="/photography" class="font-bold hover:underline">photos</a> I took.
      </p>
    </div>
    <div class="w-full flex flex-col space-y-2">
      <h2 class="text-xl font-bold uppercase">Jotform</h2>
      <ul class="list-inside list-disc">
        <!-- TODO --->
        <li>Part-time Fullstack Support Engineer</li>
      </ul>

      <h2 class="text-xl font-bold uppercase">Delta Smart Technologies</h2>
      <ul class="list-inside list-disc">
        <li>Built rich <a href="https://panel.pincident.app/" title="Example: Pincident Public (under development)" class="font-bold">administrator panels</a>
        using TypeScript, ReactJS, and Redux.</li>
        <li>Maintained ASP.NET C# Web APIs.</li>
        <li>Built serverless notification system with NodeJS using AWS Lambda, EventBridge, and OneSignal.</li>
        <li>Used jest.js to test lambda function, gulp.js to automate deploying to AWS Lambda.</li>
        <li>Used AWS and Azure.</li>
        <li>Closely collaborated with backend developer.</li>
        <li>Being part of a scrum team of 5 members.</li>
        <li>Mentoring new trainees to clarify their questions and to make them adapted to the team.</li>
        <li>Wrote bash/python scripts to automate the creation of large amounts of geographic data.</li>
      </ul>

      <h2 class="text-xl font-bold uppercase">Outside Work</h2>
      <ul class="list-inside list-disc">
        <li>
          Ported and maintained <a href="https://addons.mozilla.org/en-US/firefox/addon/tureng-anlik-ceviri/" class="font-bold hover:underline">Tureng Anlık Çeviri</a> (1200 users and 4.5 stars) add-on to Mozilla Firefox from Google Chrome.
        </li>
        <li>
          Developed and maintained an unofficial <a href="https://github.com/gokberkakdeniz/whats-up-darkness" class="font-bold hover:underline">WhatsApp desktop client</a> using ElectronJS for a year.
        </li>
        <li>
          Built <a href="https://irl.akdeniz.dev" class="font-bold hover:underline">IZTECH RoboLeague'20 website</a> using ReactJS and Bootstrap.
        </li>
        <li>
          Built <a href="https://github.com/gokberkakdeniz/iztechbot" class="font-bold hover:underline">IZTECH cafeteria Telegram bot</a> to track daily cafeteria menu.
        </li>
        <li>
          Built this website using Nunjucks template engine, Tailwind CSS, Eleventy static site generator, and plain JavaScript.
        </li>
        <li class="list-none mt-1">
          See the <a href="/projects" class="font-bold hover:underline">projects</a> page for more details.
        </li>
      </ul>

      <h2 class="text-xl font-bold uppercase">Other Things</h2>
      <ul class="list-inside list-disc">
        <li>Built library management software using VisualBasic.NET and Microsoft Access in high school.</li>
      </ul>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1 class="sideline">Contact Me</h1>
  </div>
  <div class="flex flex-col lg:flex-row space-x-4">
    <div class="md:w-full lg:w-2/3 lg:mx-auto flex flex-col space-y-2">
      <form action="https://formsubmit.co/e5f48a776a81ed203c9dbbe3027c8537" method="POST">
        <div class="flex flex-col w-full">
          <div class="my-2">
            <label for="name" class="font-bold block mb-1">Name</label>
            <input type="text" name="name" id="name" required class="h-8 w-full bg-secondary pl-2 rounded-sm border border-dashed border-accent outline-none focus:border-accent-secondary no-spinner">
          </div>

          <div class="my-2">
            <label for="email" class="font-bold block mb-1">Email Address</label>
            <input type="email" name="email" id="email" required class="h-8 w-full bg-secondary pl-2 rounded-sm border border-dashed border-accent outline-none focus:border-accent-secondary no-spinner">
          </div>

          <div class="my-2">
            <label for="message" class="font-bold block mb-1">Message</label>
            <textarea name="message" id="message" rows="5" required class="w-full bg-secondary rounded-sm p-2 border border-dashed border-accent outline-none focus:border-accent-secondary no-spinner"></textarea>
          </div>

          <div class="text-right">
            <button type="submit" class="h-8 px-2 w-32 bg-terniary border rounded-sm border-solid border-accent focus:outline-none focus:border-accent-secondary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
