---
layout: default
title: Portfolio
---
<div class="flex flex-col space-y-4">
  <div class="mx-auto">
    <img src="/images/me.jpg" alt="my picture" class="rounded-full border-4 border-solid border-accent mx-auto my-4"/>
    <div class="text-center">
      <h1 class="font-heading font-bold text-3xl uppercase" lang="tr">Gökberk Akdeniz</h1>
      <div class="divide-y-2 border-dashed m-2 text-center">
        <div class="mx-auto" style="width: 300px;"></div>
        <div class="mx-auto" style="width: 300px;"></div>
      </div>
      <div class="mx-auto">Computer engineering student, Frontend Developer in İzmir</div>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1>About Me</h1>
  </div>
  <div class="flex flex-col lg:flex-row">
    <div class="w-full">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
    <div class="w-full">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1>Projects</h1>
  </div>
  <div class="flex flex-col lg:flex-row">
    <div class="w-full">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
    <div class="w-full">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
  </div>
  <div class="text-center font-semibold text-2xl font-heading uppercase">
    <h1>Contact Me</h1>
  </div>
  <div class="flex flex-col lg:flex-row">
    <div class="w-full">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
    <div class="w-full">
      <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
      Maxime consequatur iure maiores quod adipisci quam cum iusto 
      esse officia magni labore culpa ut, aliquid voluptatibus 
      at ipsam eligendi. Eos, laborum.
      </p>
    </div>
  </div>
</div>