---
layout: default
title: Projects
description: The projects of Gökberk Akdeniz
keywords: software, programs, projects, computer, github, gitlab, opensource, cli, utility, library, javascript, typescript, nodejs, python, bash
---

<style>
  .category-collapsed > [data-type="project"] {
    display: none;
  }

  .chevron-up {
    display: none;
  }

  .category-collapsed .chevron-up {
    display: block;
  }

  .category-collapsed .chevron-down {
    display: none;
  }
</style>

<template id="chevron-down">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 chevron-down" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
  </svg>
</template>

<template id="chevron-up">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 chevron-up" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
  </svg>
</template>

<script type="text/javascript">
  function toggleCategory(event) {
    document.querySelector(
      `[data-category='${event.target.parentElement.dataset.category}'] > [data-type='project']`
    ).parentElement.classList.toggle('category-collapsed');
  }
</script>

{% for type, projects in collections.projects | sort(false, true, "template.parsed.dir") | groupby("template.parsed.dir") %}
  {% set category = "/" + type.split("/").slice(3).join("/") %}
  <div class="flex flex-1 flex-wrap -mx-1 overflow-hidden" data-category="{{ category }}">
    {% for project in projects | sort(false, true, "template.parsed.name") %}
      {% if project.template.parsed.name == ".njk" %}
        <div 
          class="my-1 px-1 w-full overflow-hidden"
          onclick="toggleCategory(event)"
          role="button"
        >
          <div class="bg-terniary border-b-black p-2 pt-1 rounded-sm pointer-events-none select-none">
            <div class="flex justify-between text-xl">
              <h2 class="font-bold">{{ project.data.title }}</h2>
              <div class="text-accent self-center chevron"></div>
            </div>
            {# <h3>{{ project.data.description }}&nbsp;</h3> #}
          </div>
        </div>
      {% else %}
        <div
          class="my-1 px-1 w-full overflow-hidden lg:w-1/2 xl:w-1/2"
          data-type="project"
        >
          <div class="flex flex-col h-full bg-secondary p-2 pt-1 rounded-sm border border-dotted border-accent">
            <div class="font-heading font-bold text-xl">
              <a href="{{ project.data.urls[0].url }}">
                {{ project.data.title }}
              </a>
            </div>
            <div class="mt-2 mb-4 flex-grow">{{ project.data.description }}</div>
            <div class="mb-0.5 flex flex-row justify-between">
              <div>
                {% for tag in project.data.tagz %}
                  <span class="px-1 py-0.5 font-mono bg-terniary border border-dotted rounded-md {{ projectTags[tag] }}">{{ tag }}</span>
                {% endfor %}
              </div>
              <div class="text-accent-secondary">
                {% for url in project.data.urls %}
                <a href="{{ url.url }}" title="{{ url.title }}">
                  <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 inline">
                    {% if url.url.startsWith('https://github.com') or url.url.startsWith('https://gist.github.com') %}
                      <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577
                      0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729
                      1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305
                      3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38
                      1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405
                      2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475
                      5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24
                      12.297c0-6.627-5.373-12-12-12"/>
                    {% else %}
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0
                          00-5.656-5.656l-1.1 1.1"/>
                    {% endif %}
                  </svg>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

<script type="text/javascript">
  (() => {
    document.querySelectorAll(".chevron").forEach(el => {
      el.append(document.getElementById("chevron-down").content.children[0].cloneNode(true));
      el.append(document.getElementById("chevron-up").content.children[0].cloneNode(true));
    });
  })();
</script>