<div class="p-2 mb-4 space-x-2 flex flex-col lg:flex-row">
  <div class="flex-none">
    <img src="/images/me.jpg" alt="my picture" class="rounded-full border-4 border-solid border-accent mx-auto"/>
  </div>
  <div class="flex-grow text-center lg:text-left prose dark:prose-light max-w-none">
    <p>
      <span class="font-heading text-3xl font-bold">Hi! I'm {{ site.author }}.</span>
      <br/>
      I'm Software Engineer located in İzmir, Turkey.
      I like to learn new technologies, concepts, and various topics.  
      I am very fond of finding answers of "why" and "how" questions 
      to understand everything thoroughly. 
      I am currently working as a Full Stack Developer. 
    </p>
  </div>
</div>