---
title: frontend
description: frontend description
projects:
  - title: soapify-web
    description: A web application that you can search on your all spotify playlists.
    urls: 
      - title: home page
        url: https://akdeniz.dev/projects/soapify
      - title: github
        url: https://github.com/gokberkakdeniz/soapify-web
    tagz:
      - react
      - redux-saga
      - typescript
  - title: akdeniz.dev
    description: My personal web page.
    urls: 
      - title: home page
        url: https://akdeniz.dev
      - title: github
        url: https://github.com/gokberkakdeniz/akdeniz.dev
    tagz:
      - nunjucks
      - eleventy
      - tailwindcss
  - title: irl.iyte.edu.tr
    description: The website of IZTECH RoboLeague'20 that is built using React.js and Bootstrap.
    urls: 
      - title: homepage
        url: https://irl.akdeniz.dev/
      - title: github
        url: https://github.com/gokberkakdeniz/irl.iyte.edu.tr
    tagz:
      - react
      - bootstrap
---

