---
title: backend
description: backend description
projects:
  - title: tavrimizfit-api
    description: A RESTful fitness training API
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/tavrimizfit-api
    tagz:
      - typescript
      - express
      - mongodb
---