---
title: cli
description: cli description
projects:
  - title: tureng
    description: An unofficial tureng.com javascript library and commandline application. 
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/tureng
    tagz:
      - cli
      - library
      - javascript
  - title: screenctl
    description: Control temperature/brightness of your monitor
    urls: 
      - title: github
        url: https://gist.github.com/gokberkakdeniz/dfc29fa863b3d9f2a3d40a465b4f21a4
    tagz:
      - cli
      - bash
      - linux
---