---
title: cli
description: cli description
projects:
  - title: tureng
    description: An unofficial tureng.com javascript library and commandline application. 
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/tureng
    tagz:
      - cli
      - library
      - javascript
  - title: spotify-tools
    description: A collection of CLI applications. Started as a spotify status bar plugin for polybar. 
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/spotify-tools
    tagz:
      - cli
      - python
      - linux
  - title: soapify
    description: An simple commandline application that you can search on your all spotify playlists.
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/soapify
    tagz:
      - cli
      - python
  - title: screenctl
    description: Control temperature/brightness of your monitor
    urls: 
      - title: github
        url: https://gist.github.com/gokberkakdeniz/dfc29fa863b3d9f2a3d40a465b4f21a4
    tagz:
      - cli
      - bash
      - linux
  - title: mv.md5
    description: Rename files with their md5 hash
    urls: 
      - title: github
        url: https://gist.github.com/gokberkakdeniz/6f1eb1eaf1ed28f65c1690504d28312a
    tagz:
      - cli
      - bash
      - linux
---