---
title: others
description: others description
projects:
  - title: iztechbot
    description: An IZTECH cafeteria telegram bot that informs about menu.
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/iztechbot
    tagz:
      - typescript
      - mariadb
  - title: pkg-ifscript
    description: Run conditional package.json scripts 
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/pkg-ifscript
    tagz:
      - library
      - javascript
  - title: unpacked-javascript-utils
    description: Javascript helpers that you can copy and use in your project. 
    urls: 
      - title: github
        url: https://github.com/gokberkakdeniz/unpacked-javascript-utils
    tagz:
      - javascript
      - typescript
      - react
---