---
title: screenctl
description: Control temperature/brightness of your monitor using xrandr/ddcutil
url: https://gist.github.com/gokberkakdeniz/dfc29fa863b3d9f2a3d40a465b4f21a4
tagz:
  - cli
  - bash
  - linux
---