---
title: spotify-tools
description: A collection of CLI applications. Started as a spotify status bar plugin for polybar. 
url: https://github.com/gokberkakdeniz/spotify-tools
tagz:
  - cli
  - python
  - linux
---